* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

/* .banner {
    padding-top: 64px;
} */

section {
    padding: 10px;
}
.tour-book-info {
    padding-bottom: 10px;
}

.tour-book-info-title,.cart-list-title {
    background: #003d71;
    padding: 10px;
    border: 1px solid rgb(126, 117, 117);
    font-size: 20px;
    color: rgb(236, 229, 229);
    font-weight: 600;
    border-top-left-radius: 0.5rem;
    /* 8px */
    border-top-right-radius: 0.5rem;
    /* 8px */
}

.tour-book-info-body,.cart-list-body {
    padding-top: 10px;
    border: 1px solid rgb(242, 233, 233);
    padding: 5px;
    background: #fff;
}
.tour-book-info-body strong,span{
    font-size: 16px;
}
.tour-book-info-body .form-group input,p{
    font-size: 14px;
}
.payment-item input,label{
    font-size: 14px;
}
.payment_info {
    margin: 0 0 10px;
    padding: 10px;
    background: #cad2d6e1;
    
}
.payment_info a{
    font-size: 15px;
}
.tour-book-info-body .btn{
  font-size: 14px;
  color: #fff;
}
.tour-book-info-body .btn:hover{
    color: #000;
}
.cart-list-body .info-tour .caption {
padding: 15px;

}
.caption a {
    text-decoration: none;
}

.cart-list-body .info-tour .caption .title-tour {
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #003d71;
    font-weight: 700;
    line-height: 1.75rem;
}
.cart-list-body .info-tour .caption .title-tour p{
    font-size: 18px;
}
.cart-list-body .info-tour .caption p,strong{
    font-size: 16px;
}
.cart-list-body .info-tour .caption .cart-detail .line-price strong{
    font-size: 13px;
}
.cart-list-body .info-tour .caption .cart-detail .line-price input{
    color: #FFC10E;
    width: 45px;
    text-align: center;
    font-size: 13px;
}
.cart-list-body .info-tour .caption .cart-detail .line-price .item-price{
    font-size: 13px;
}
.cart-item {
    display: flex;
}

.cart-total {
    background: #FFC10E;
    color: #000;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
}
.cart-total button{
    font-size: 14px;
}
.cart-total p{
    font-size: 18px;
}
.cart-total p span{
    color: red;
}