* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}
/* .banner img {
    padding-top: 64px;
} */

.news-details{
    padding: 10px;
}
.news-details-content h1{
    color: #003d71;
}
.news-details-content .date{
    font-size: 14px;
}
.news-details-content h3{
    font-size: 20px;
}

.news-details-content p,strong,span,a{
    font-size: 14px;
}


.contact{
    
    background: #f2f4f9;
    border: 1px;
    border-color: #f2f4f9;
    border-radius: 0.375rem; /* 6px */
  }
  .contact-heading{
    background: #003d71;
    color: #fff;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 700;
  }
  .contact-content strong{
    padding: 8px;
    font-size: 15px;
  }
