/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  /* home page */
  header {
    padding-left: 40px;
    padding-right: 40px;
  }
  .header_nav {
    display: flex;
  }
  .introduct_promotion--icon {
    width: 30%;
  }
  .nav_small_devices {
    display: none;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /* homepage */
  header {
    padding-left: 0;
    padding-right: 0;
  }
  .header_nav {
    display: none;
  }
  .nav_small_devices {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    color: #fff;
    margin-right: 3rem;
  }
  .nav_small_devices i {
    font-size: 4rem;
  }

  .introduct_promotion--icon {
    width: 56%;
  }
  .form_register_promotion button {
    font-size: 13px;
  }

  .search_and_slider .search-main {
    position: unset;
  }
  form.form_search {
    grid-template-columns: 20% 55% 15%;
  }
  .hot-tour,
  .tour-bac,
  .tour-nam {
    margin-left: -30px;
    margin-right: -30px;
  }
  .tour {
    line-height: normal;
  }
  .title-tour p{
    font-size: 1.6rem;
  }
  .bottom span, .bottom a{
    font-size: 1.5rem;
  }
  .bottom span{
    flex-basis: 100%;
  }
  .bottom a{
    display: flex;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 10%;
  }
 .thumbnail {
  padding: 0;
  margin-bottom:2rem ;
  margin-top:2rem ;

 }
 .text{
  margin-bottom: 2rem;
 }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  /* home page */
  .introduct_promotion{
    align-items: center;
  }
  .introduct_promotion--icon {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .introduct_promotion--icon i{
    
    font-size: 1.5rem;
    line-height: 5rem;

  }
  .introduct_promotion--text span{
    font-size: 1.3rem;
  }
  .introduct_promotion--text h4{
    font-size: 1.5rem;
  }.form-group-email{
    flex-basis: 70%;
  }
.form_register_promotion  .btn-register{
  flex-basis: 30%;
}
.footer_list_tour{
  display: none;
}
.footer_list_contact_company, .footer_contact_social_media_block{
  flex: 0 0 50%; 
    max-width: 50%;
}
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* home page */
  header {
    padding-left: 0;
    padding-right: 0;
  }
  .header_nav {
    display: none;
  }
  .nav_small_devices {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    color: #fff;
    margin-right: 3rem;
  }
  .nav_small_devices i {
    font-size: 4rem;
  }
}
