* {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  width: 100%;
  background: #f5f5f5;
}
.menu {
  background: #003d71;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 3px 3px 5px 0px #666;
  z-index: 10;
  transform: translateX(-110%);
  transition: all ease-in 0.3s;
}
.home_admin h2{
  color: #fff;
}
.menu .menu-logo {
  color: #fff;
  background: #003d71;
  padding: 10px 10px 4px 30px;
  border-bottom: 1px solid;
  display: flex;
}
.menu .menu-logo img {
  width: 50%;
  margin-right: 15px;
}
.menu .menu_nav {
  margin-top: 20px;
}
.menu .menu_nav ul {
  padding: 5px;
}
.menu .menu_nav li {
  list-style: none;
  border-radius: 6px;
  transition: 0.3s ease;
}
.menu .menu_nav li:hover {
  background: #859ac7;
  cursor: pointer;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.menu .menu_nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  margin-left: 25px;
  transition: 0.3s ease;
  display: block;
  padding: 15px 20px;
}


article .horizontal-menu {
  display: flex;
  justify-content: flex-end;
  background: #fff;
  padding: 15px 30px;
  border-bottom: 1px solid #fff;
  box-shadow: 2px 2px 2px 0px #666;
  margin-bottom: 3rem;
}
article .horizontal-menu .user {
  display: flex;
  align-items: center;
}
.horizontal-menu .user .user-name {
  margin-right: 14px;
  margin-bottom: 0;
  font-size: 15px;
}
.horizontal-menu .user img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
article .board {
  width: 94%;
  margin: 30px 30px 0 30px;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
}
.board .headline {
  padding: 10px;
  font-weight: 600;
}
.btn_nav{
 display: flex;
 justify-content: flex-end;
 width: 100%;
 height: 100%;
 justify-content: flex-start;
}

.btn_nav p i{
  font-size: 4rem;
  margin: 2rem;
}

/* biểu đồ */
.bieu_do {
  display: flex;
  justify-content: space-between;
}