header h1 {
    padding: 40px 30px;
    background-color: rgb(78, 245, 203);
    color: rgb(139, 7, 7);
    border-radius: 10px;
}

nav {
    background-color: #333;
    margin: 20px 0;
    border-radius: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
    display: block;
    padding: 30px;
    color: #ccc;
    text-decoration: none;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: #fff;
}

article {
    margin: 20px 0;
}

article .headline {
    padding: 30px 40px;
    background-color: rgba(6, 85, 23, 0.425);
    border-radius: 10px;
    color: aliceblue;
}

.alert {
    padding: 20px;
    margin: 5px 0;
    background-color: rgb(182, 248, 226);
}
.headline h2{
    font-size: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 50%;
    margin-top: 20px;
}

.form-group {
    padding: 0 5px;
}

.form-group label {
    display: block;
}

.form-group .form-control {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border-radius: 3px;

}

.form-special {
    border: 1px solid #ccc;
    padding: 5px;
}

.full {
    width: 100%;
}

.full textarea {
    width: 100%;
    height: 150px;
}

button.btn {
    padding: 10px 20px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    background-color: #fff;
}

button.btn-danger {
    border: 1px solid red;
}

button a {
    display: block;
    text-decoration: none;
    color: #333;
}

.btn {
    background-color: red;
}

.btn:hover {
    background-color: gray;
}

.btn:hover a {
    color: white;
}

.mo_ta:focus,
.form-control:focus {
    border-color: rgb(96, 96, 228);
    outline: none;
}

/* Table */
.table {
    border-collapse: collapse;
    width: 100%;
}

.table,
.table tr,
.table td,
.table th {
    border: 1px solid #ccc;
}

.table th,
.table td {
    padding: 20px;
}

.table tbody tr:nth-child(2n + 1) {
    background-color: #eee;
}
table tr th{
    font-size: 15px;
}

table td a{
    font-size: 15px;
}
table thead tr {
    background-color: #b7f0b7;
    color: #333;
}

.link-action {
    color: black;
}
.link-action:hover{
    color: blue;
}